<!DOCTYPE html>
<html>
<head>
  <title>Neil's Portfolio</title>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="menu col-xs-8">
                    <ul>
                        <li>
                            <a href="/">Welcome</a>
                        </li>

                        <li>
                            <a href="portfolio">Portfolio</a>
                        </li>

                        <li>
                            <a href="#">Blog</a>
                        </li>

                        <li>
                            <a href="#">About</a>
                        </li>

                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>

                <div class="name col-xs-4">
                    <h1>Neil Barot</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="main portfolio">
        <div class="jumbotron slideshow">
            <div class="slideshow-container">
                <div class="slide"><img alt="Slide" src=
                "http://www.lightstalking.com/wp-content/uploads/2013/07/Golden%20Gate%20Last%20sun%20(1%20av%201).jpg"></div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <a class="col-md-6 project" href="#">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>

                    <div class="thumbnail-header-btn"></div>

                    <div class="thumbnail-header-btn"></div>
                </div>

                <div class="thumbnail"><img alt="Project01" src=
                "https://i.gyazo.com/dff6f33313c823bd58f1256b1446659f.jpg"></div>

                <h3>We Are Broadway</h3>

                <p>Built a static landing page based on Codecademy's We Are Broadway project using Ruby on Rails!</p></a> <a class=
                "col-md-6 project" href="#">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>

                    <div class="thumbnail-header-btn"></div>

                    <div class="thumbnail-header-btn"></div>
                </div>

                <div class="thumbnail"><img alt="Project02" src=
                "https://i.gyazo.com/8e6023e9c3a3c652736c041183b84a92.png"></div>

                <h3>Bolt Movie Network</h3>

                <p>Built a static home page for Netflix clone Bolt Network which provides access to multimedia content for its users. </p></a>
            </div>

            <div class="row">
                <a class="col-md-6 project" href="#">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>

                    <div class="thumbnail-header-btn"></div>

                    <div class="thumbnail-header-btn"></div>
                </div>

                <div class="thumbnail"><img alt="Project03" src=
                "https://i.gyazo.com/94871841c12bc88a8b708f63f914eee8.jpg"></div>

                <h3>Innovation Cloud</h3>

                <p>Connect with the best minds across a wide range of industries to share ideas and brainstorm new solutions to challenging problems.</p></a> <a class="col-md-6 project" href="#">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>

                    <div class="thumbnail-header-btn"></div>

                    <div class="thumbnail-header-btn"></div>
                </div>

                <div class="thumbnail"><img alt="Project04" src=
                "https://i.gyazo.com/59a9c6c1d6ae8a3e6d477257eeda8aad.jpg"></div>

                <h3>Bass Music Network</h3>

                <p>Bass music network is a network similar to Spotify. Albums are displayed on the main page. Clicking on an album takes users to a page where they can see an album's track listing.</p></a>
            </div>

            <div class="row">
                <a class="col-md-6 project" href="#">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>

                    <div class="thumbnail-header-btn"></div>

                    <div class="thumbnail-header-btn"></div>
                </div>

                <div class="thumbnail"><img alt="Project05" src=
                "https://i.gyazo.com/7fc38b50f15fd5618d826147afa75a15.png"></div>

                <h3>Threadly</h3>

                <p>Database to store user comments and display them cleanly. Made to be a commenting service that was constantly updated by anonymous users. </p></a>
                <a class="col-md-6 project" href="#">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>

                    <div class="thumbnail-header-btn"></div>

                    <div class="thumbnail-header-btn"></div>
                </div>

                <div class="thumbnail"><img alt="Project06" src=
                "https://i.gyazo.com/0fd3f94f8d79dc0f6213bd521bace64a.png"></div>

                <h3>Bookmarks</h3>

                <p>Bookmarks helps you keep track of books you may want to read that are on the best-sellers list. Books are listed by rank on the main page. Clicking on a book takes users to a page where they can read editorial reviews.</p></a>
            </div>
        </div>
    </div>
</body>
</html>