<!DOCTYPE html>
<html>
<<head> 
  <title>Portfolio</title> 
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,300italic,500,700"> 
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" type="text/css" rel="stylesheet"> 
  <style>
    * {
  margin: 0;
  padding: 0;
}

body, html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  height: 100%;
  width: 100%;
}

.container {
  padding: 0 200px 0 280px;
  width: 100%;
}

.main {
  width: 100%;
}

a.btn {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  height: 60px;
  line-height: 60px;
  margin: 40px 0;
  padding: 0;
  transition: background-color .5s;
  width: 200px;
}

.menu ul {
  list-style: none;
  padding-left: 0;
}

.menu li {
  display: inline;
  line-height: 100px;
  font-size: 18px;
  font-weight: 500;
  line-height: 100px;
  height: 100px;
  margin: 0 20px 0 0;
}

.menu li a {
  color: #000;
}

.name h1 {
  color: #000;
  font-size: 18px;
  line-height: 100px;
  height: 100px;
  margin: 0;
  text-align: right;
}

.footer {
  background-color: #fff;
  height: 200px;
  text-align: right;
  width: 100%;
}

.footer .social_media {
  margin: 65px 0 20px;
  width: 100%;
}

.social_media li {
  display: inline-block;
  height: 24px;
  margin: 0 0 0 10px;
  text-align: left;
  text-indent: -9999px;
  width: 24px;
}

.social_media li a {
  display: block;
  height: 24px;
  width: 24px;
}

.github {
  background-image: url(https://portfolio-rails-2633.herokuapp.com/assets/github-edc899c60c7b3afd0c458e648197f578.svg);
  background-position: center center;
}

.linkedin {
  background-image: url(https://portfolio-rails-2633.herokuapp.com/assets/linkedin-be22eb82414f9f637debbe2d64c301cb.svg);
  background-position: center center;
}

.tumblr {
  background-image: url(https://portfolio-rails-2633.herokuapp.com/tumblr.svg);
  background-position: center center;
}

.twitter {
  background-image: url(https://portfolio-rails-2633.herokuapp.com/assets/twitter-8c095eaee58362a46d56e3f07b50b23b.svg);
  background-position: center center;
}

.youtube {
  background-image: url(http://cdn.flaticon.com/svg/56/56723.svg);
  background-position: center center;
}

.vimeo {
  background-image: url(https://portfolio-rails-2633.herokuapp.com/vimeo.svg);
  background-position: center center;
}

.instagram {
  background-image: url(https://portfolio-rails-2633.herokuapp.com/assets/instagram-057a090ac0e0184c68efc07e412eec3b.svg);
  background-position: center center;
}

.facebook {
  background-image: url(https://portfolio-rails-2633.herokuapp.com/assets/facebook-70848fad6bf158b9a52e47d9bc956b8a.svg);
  background-position: center center;
}

.pinterest {
  background-image: url(https://portfolio-rails-2633.herokuapp.com/pinterest.svg);
  background-position: center center;
}

.gplus {
  background-image: url(https://portfolio-rails-2633.herokuapp.com/assets/gplus-b3a33145641e08e048cd10ed0ece59ce.svg);
  background-position: center center;
}

.main .container {
  margin: 80px 0;
}

.main h2 {
  color: #000;
  font-size: 48px;
  line-height: 56px;
  text-align: right;
}

.home h2 {
  color: #fff;
}

a.btn:hover, .nav li a:hover, .nav-btn:hover {
  background-color: #003366;
  color: #fff;
  transition: background-color .5s;
}

.home .jumbotron {
  background: url(http://pre10.deviantart.net/3046/th/pre/f/2010/320/d/1/website_background_by_modsoft-d3302jz.png) center center;
  background-size: cover;
  min-height: 600px;
  width: 100%;
}

.portfolio .jumbotron {
  height: 500px;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.portfolio .slideshow-container {
  width: 100%;
}

.portfolio .slide {
  height: 500px;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 100%;
}

.slide img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.project, .project:hover {
  color: #000;
  margin: 0 0 40px;
  text-decoration: none;
  transition: color .5s;
}

.project:hover {
  color: #0066ff;
}

.project h3, .project p, .about h2, .about p {
  padding: 0 20px 0;
}

.project p {
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  max-height: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumbnail-header {
  background-color: #eaeff4;
  display: block;
  height: 20px;
  width: 100%;
}

.thumbnail-header-btn {
  background-color: #fff;
  border-radius: 100%;
  float: left;
  height: 10px;
  margin: 5px 0 0 5px;
  width: 10px;
}

.thumbnail {
  border: 0;
  border-radius: 0;
  max-height: 240px;
  padding: 0;
  overflow: hidden;
}

.about .thumbnail {
  max-height: 400px;
}

.about h2 {
  margin: 0 0 40px;
}

.contact .row {
  margin: 80px 0 0;
}

.contact .col-md-2 a {
  display: block;
  height: 80px;
  margin: 0 auto 40px;
  text-indent: -9999px;
  width: 80px;
}

.highlight {
  background-color: #eaeff4;
  color: #000;
  padding: 0 10px 0;
}

.right {
  float: right;
}

@media screen and (max-width: 800px) {
  .container {
    padding: 0 20px 0 100px;
    width: 100%;
  }

  #warning {
    color: red;
    font-weight: bold;
  }

  .slide img {
    height: 100%;
    width: auto;
  }

  .contact .row:last-child {
    margin: 0;
  }
}
* {
  margin: 0;
  padding: 0;
}

body, html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  height: 100%;
  width: 100%;
}

.container {
  padding: 0 200px 0 280px;
  width: 100%;
}

.main {
  width: 100%;
}

a.btn {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  height: 60px;
  line-height: 60px;
  margin: 40px 0;
  padding: 0;
  transition: background-color .5s;
  width: 200px;
}

.menu ul {
  list-style: none;
  padding-left: 0;
}

.menu li {
  display: inline;
  line-height: 100px;
  font-size: 18px;
  font-weight: 500;
  line-height: 100px;
  height: 100px;
  margin: 0 20px 0 0;
}

.menu li a {
  color: #000;
}

.name h1 {
  color: #000;
  font-size: 18px;
  line-height: 100px;
  height: 100px;
  margin: 0;
  text-align: right;
}

.footer {
  background-color: #fff;
  height: 200px;
  text-align: right;
  width: 100%;
}

.footer .social_media {
  margin: 65px 0 20px;
  width: 100%;
}

.social_media li {
  display: inline-block;
  height: 24px;
  margin: 0 0 0 10px;
  text-align: left;
  text-indent: -9999px;
  width: 24px;
}

.social_media li a {
  display: block;
  height: 24px;
  width: 24px;
}

.github {
  background-image: url(https://portfolio-rails-2633.herokuapp.com/assets/github-edc899c60c7b3afd0c458e648197f578.svg);
  background-position: center center;
}

.linkedin {
  background-image: url(https://portfolio-rails-2633.herokuapp.com/assets/linkedin-be22eb82414f9f637debbe2d64c301cb.svg);
  background-position: center center;
}

.tumblr {
  background-image: url(https://portfolio-rails-2633.herokuapp.com/tumblr.svg);
  background-position: center center;
}

.twitter {
  background-image: url(https://portfolio-rails-2633.herokuapp.com/assets/twitter-8c095eaee58362a46d56e3f07b50b23b.svg);
  background-position: center center;
}

.youtube {
  background-image: url(http://cdn.flaticon.com/svg/56/56723.svg);
  background-position: center center;
}

.vimeo {
  background-image: url(https://portfolio-rails-2633.herokuapp.com/vimeo.svg);
  background-position: center center;
}

.instagram {
  background-image: url(https://portfolio-rails-2633.herokuapp.com/assets/instagram-057a090ac0e0184c68efc07e412eec3b.svg);
  background-position: center center;
}

.facebook {
  background-image: url(https://portfolio-rails-2633.herokuapp.com/assets/facebook-70848fad6bf158b9a52e47d9bc956b8a.svg);
  background-position: center center;
}

.pinterest {
  background-image: url(https://portfolio-rails-2633.herokuapp.com/pinterest.svg);
  background-position: center center;
}

.gplus {
  background-image: url(https://portfolio-rails-2633.herokuapp.com/assets/gplus-b3a33145641e08e048cd10ed0ece59ce.svg);
  background-position: center center;
}

.main .container {
  margin: 80px 0;
}

.main h2 {
  color: #000;
  font-size: 48px;
  line-height: 56px;
  text-align: right;
}

.home h2 {
  color: #fff;
}

a.btn:hover, .nav li a:hover, .nav-btn:hover {
  background-color: #003366;
  color: #fff;
  transition: background-color .5s;
}

.home .jumbotron {
  background: url(http://pre10.deviantart.net/3046/th/pre/f/2010/320/d/1/website_background_by_modsoft-d3302jz.png) center center;
  background-size: cover;
  min-height: 600px;
  width: 100%;
}

.portfolio .jumbotron {
  height: 500px;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.portfolio .slideshow-container {
  width: 100%;
}

.portfolio .slide {
  height: 500px;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 100%;
}

.slide img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.project, .project:hover {
  color: #000;
  margin: 0 0 40px;
  text-decoration: none;
  transition: color .5s;
}

.project:hover {
  color: #0066ff;
}

.project h3, .project p, .about h2, .about p {
  padding: 0 20px 0;
}

.project p {
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  max-height: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumbnail-header {
  background-color: #eaeff4;
  display: block;
  height: 20px;
  width: 100%;
}

.thumbnail-header-btn {
  background-color: #fff;
  border-radius: 100%;
  float: left;
  height: 10px;
  margin: 5px 0 0 5px;
  width: 10px;
}

.thumbnail {
  border: 0;
  border-radius: 0;
  max-height: 240px;
  padding: 0;
  overflow: hidden;
}

.about .thumbnail {
  max-height: 400px;
}

.about h2 {
  margin: 0 0 40px;
}

.contact .row {
  margin: 80px 0 0;
}

.contact .col-md-2 a {
  display: block;
  height: 80px;
  margin: 0 auto 40px;
  text-indent: -9999px;
  width: 80px;
}

.highlight {
  background-color: #eaeff4;
  color: #000;
  padding: 0 10px 0;
}

.right {
  float: right;
}

@media screen and (max-width: 800px) {
  .container {
    padding: 0 20px 0 100px;
    width: 100%;
  }

  #warning {
    color: red;
    font-weight: bold;
  }

  .slide img {
    height: 100%;
    width: auto;
  }

  .contact .row:last-child {
    margin: 0;
  }
}
  </style>
  <script src="/assets/application-4fba09a36c46587a0f07211966615115.js" data-turbolinks-track="true"></script> 
  <meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="taDxa6fIcNe8SiUNY/zqAFXAKHDzA2Ek4a8VI7riQUE="> 
  </head> 
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="menu col-xs-8">
                    <ul>
                        <li>
                            <a href="/">Welcome</a>
                        </li>

                        <li>
                            <a href="portfolio">Portfolio</a>
                        </li>

                        <li>
                            <a href="#">Blog</a>
                        </li>

                        <li>
                            <a href="#">About</a>
                        </li>

                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>

                <div class="name col-xs-4">
                    <h1>Neil Barot</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="main portfolio">
        <div class="jumbotron slideshow">
            <div class="slideshow-container">
                <div class="slide"><img alt="Slide" src=
                "http://www.lightstalking.com/wp-content/uploads/2013/07/Golden%20Gate%20Last%20sun%20(1%20av%201).jpg"></div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <a class="col-md-6 project" href="#">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>

                    <div class="thumbnail-header-btn"></div>

                    <div class="thumbnail-header-btn"></div>
                </div>

                <div class="thumbnail"><img alt="Project01" src=
                "https://i.gyazo.com/dff6f33313c823bd58f1256b1446659f.jpg"></div>

                <h3>We Are Broadway</h3>

                <p>Built a static landing page based on Codecademy's We Are Broadway project using Ruby on Rails!</p></a> <a class=
                "col-md-6 project" href="#">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>

                    <div class="thumbnail-header-btn"></div>

                    <div class="thumbnail-header-btn"></div>
                </div>

                <div class="thumbnail"><img alt="Project02" src=
                "https://i.gyazo.com/8e6023e9c3a3c652736c041183b84a92.png"></div>

                <h3>Bolt Movie Network</h3>

                <p>Built a static home page for Netflix clone Bolt Network which provides access to multimedia content for its users. </p></a>
            </div>

            <div class="row">
                <a class="col-md-6 project" href="#">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>

                    <div class="thumbnail-header-btn"></div>

                    <div class="thumbnail-header-btn"></div>
                </div>

                <div class="thumbnail"><img alt="Project03" src=
                "https://i.gyazo.com/94871841c12bc88a8b708f63f914eee8.jpg"></div>

                <h3>Innovation Cloud</h3>

                <p>Connect with the best minds across a wide range of industries to share ideas and brainstorm new solutions to challenging problems.</p></a> <a class="col-md-6 project" href="#">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>

                    <div class="thumbnail-header-btn"></div>

                    <div class="thumbnail-header-btn"></div>
                </div>

                <div class="thumbnail"><img alt="Project04" src=
                "https://i.gyazo.com/59a9c6c1d6ae8a3e6d477257eeda8aad.jpg"></div>

                <h3>Bass Music Network</h3>

                <p>Bass music network is a network similar to Spotify. Albums are displayed on the main page. Clicking on an album takes users to a page where they can see an album's track listing.</p></a>
            </div>

            <div class="row">
                <a class="col-md-6 project" href="#">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>

                    <div class="thumbnail-header-btn"></div>

                    <div class="thumbnail-header-btn"></div>
                </div>

                <div class="thumbnail"><img alt="Project05" src=
                "https://i.gyazo.com/7fc38b50f15fd5618d826147afa75a15.png"></div>

                <h3>Threadly</h3>

                <p>Database to store user comments and display them cleanly. Made to be a commenting service that was constantly updated by anonymous users. </p></a>
                <a class="col-md-6 project" href="#">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>

                    <div class="thumbnail-header-btn"></div>

                    <div class="thumbnail-header-btn"></div>
                </div>

                <div class="thumbnail"><img alt="Project06" src=
                "https://i.gyazo.com/0fd3f94f8d79dc0f6213bd521bace64a.png"></div>

                <h3>Bookmarks</h3>

                <p>Bookmarks helps you keep track of books you may want to read that are on the best-sellers list. Books are listed by rank on the main page. Clicking on a book takes users to a page where they can read editorial reviews.</p></a>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <ul class="social_media">
                <li>
                    <a class="github" href="#">github</a>
                </li>

                <li>
                    <a class="linkedin" href="#">linkedin</a>
                </li>

                <li>
                    <a class="twitter" href="#">twitter</a>
                </li>
            </ul>

            <p>&copy; 2015 Neil Barot</p>
            <p>Credits to Codecademy for Website Guidance</p>
        </div>
    </div>
</body>
</html>