<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,500,700' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

  
      <div class="footer">
        <div class="container">
             <ul class="social_media">
        			<li><a class="gplus" href="https://plus.google.com/u/0/116268905275591046872/">gplus</a></li>
        			<li><a class="github" href="https://github.com/torablien">github</a></li>
       			  <li><a class="linkedin" href="#">linkedin</a></li>
      		 </ul>
            <p>&copy; 2015 Neil Barot</p>
            <p>Credits to Codecademy for Website Guidance</p>
        </div>
    </div>
</body>
</html>
